* {
  font-family: "JetBrainsMono Nerd Font", "JetBrainsMono", sans-serif;
  border: none;
  border-radius: 0;
  transition: all 0.2s ease;
}

window#waybar {
  background: transparent;
  color: #ffffff;
}

#clock, #pulseaudio, #language, #memory, #cpu, #temperature, #tray {
  margin: 10px 0 10px;
  margin-right: 20px;
  padding: 0 12px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}

#language, #clock, #memory, #cpu, #temperature {
  font-weight: bolder;
}

#tray {
  padding: 0 8px;
  -gtk-icon-effect: none;
}

#tray > .passive {
  -gtk-icon-effect: none;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  color: #ffffff;
}

#workspaces {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  margin: 10px 0 10px 20px;
  padding: 0 10px;
}

#workspaces button {
  min-height: 27px;
  padding: 0 8px;
  border-radius: 8px;
  color: #ffffff;
  background: transparent;
}

#workspaces button.active {
  background: rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid #ffffff;
}

#workspaces button:hover {
  background: rgba(255, 255, 255, 0.05);
}
